<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="SkiaSharp" version="1.59.1" targetFramework="xamarinios10" />
  <package id="SkiaSharp.Views" version="1.59.1" targetFramework="xamarinios10" />
  <package id="SkiaSharp.Views.Forms" version="1.59.1" targetFramework="xamarinios10" />
  <package id="SQLite.Net.Core-PCL" version="3.1.1" targetFramework="xamarinios10" />
  <package id="SQLite.Net-PCL" version="3.1.1" targetFramework="xamarinios10" />
  <package id="Telerik.UI.for.Xamarin.Trial" version="2017.2.818.1" targetFramework="xamarinios10" />
  <package id="Xamarin.Forms" version="2.3.4.267" targetFramework="xamarinios10" />
  <package id="XFControls" version="1.0.0.6" targetFramework="xamarinios10" developmentDependency="true" />
</packages>